
<div class="text-center">
  <h1>Eat-da-Burger!</h1>
  <br>

  <img src="../public/assets/images/burger.jpg">

  <br>
  <br>
  <h2>Add a Burger</h2>
  <form class="create-form">
    <div class="form-group">
      <label for="ca">Burger Name:</label>
      <input type="text" id="ca" name="name">
    </div>
    <button type="submit">Add Burger</button>
  </form>

  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col-6">
    <h2>Burger Menu</h2>
      <ul class = "list-unstyled">
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-6">
      <h2>Devoured!</h2>
      <ul class = "list-unstyled">
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
</div>




</div>

